@charset "UTF-8";

.footer{
    margin-top: 30px;
    background-color: #168D73;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.footer img{
    width: 35px;
    margin-left: 20px;
}

.devs{
    columns: 3;
}


@media only screen and (max-device-width: 900px) {
    .footer{
        height: 120px;
        margin-top: 100px;
    }
}

.logo{
    width: 100%;
    height: auto;
}